
{% extends "auctions/layout.html" %}

{% block body %}

<div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">Register to Auctions</h1>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <div class="row">
                            {% if message %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% endif %}
                            <form action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-12 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="username">User name</label>
                                        <input class="form-control" type="text" name="username" placeholder="Username">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="username">Email</label>
                                        <input class="form-control" type="email" name="email"
                                            placeholder="Email Address">
                                    </div>
                                </div>
                                <!-- Password input -->
                                <div class="col-md-12 mb-4">
                                    <div class="form-outlin">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" name="password"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <!-- Conform Password -->
                                <div class="col-md-12 mb-4">
                                    <div class="form-outlin">
                                        <label class="form-label" for="confirmation">Confirm Password</label>
                                        <input class="form-control" type="password" name="confirmation"
                                            placeholder="Confirm Password">
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <div class="col-md-12 mb-4">
                                    <button type="submit" class="btn btn-secondary">
                                        Create Account
                                    </button>
                                </div>
                            </form>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>If have an account?</p>
                                <a class="mx-3" href="{% url 'login' %}">
                                    Login here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}